.btn{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: orange;
    border: none;
    border-radius:2px ;
    color: #fff;
    font-weight: bold;
    transition: all ease-in 0.5s;
    cursor: pointer;
}
.btn:hover{
    background-color: orangered;
    color: #000;
}

.btn :active,
.btn :focus{
    background-color: orangered;
    color: #fff;
    outline: 0.5px  solid orangered;
    box-shadow: 0 2px 5px #aaa;
}
.btn:disabled,
.btn[disabled]{
    background-color: #ddd;
    color: #999;
}